html{
  padding: 0px;
  margin: 0px;
}

.er{
  padding-left: 25px;
  padding-top: 10px;  
}

#inicial{
  margin-top: 20px;
  margin-left: 10%;
}

#final{
  margin-top: 20px;
  margin-left: 10px;
}

#remfinal{
  margin-top: 20px;
  margin-left: 10px;
}

#mynetwork{
  width: 80%;
  height: 500px;
  margin: 10%;
  border: 5px solid lightgray;
  margin-top: 0px;
}

input {
	outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #999999; }
input:-moz-placeholder { color: #999999; }
input::-moz-placeholder { color: #999999; }
input:-ms-input-placeholder { color: #999999; }

textarea::-webkit-input-placeholder { color: #999999; }
textarea:-moz-placeholder { color: #999999; }
textarea::-moz-placeholder { color: #999999; }
textarea:-ms-input-placeholder { color: #999999; }